ion-content {
  --background: url('../../assets/gradientBackdrop.jpg') 0 0/100% 45% no-repeat;
}

ion-toolbar {
  --background: transparent !important;
}

.backgroundTransparent {
  background: transparent;
  margin-top: 5px;
  color: white
}

ion-card {
  margin: 12px !important;
}

.cardstyle {
  background: white;
}

ion-card-content {
  padding: 5px 5px 5px 5px !important;
}

.textColor {
  color: black;
}

.border1PX {
  border-bottom: 2px solid rgb(0, 113, 128);
}

.centered {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

// ion-fab {
//   margin-left: 30%;
//   margin-right: 30%;
// }
