<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>Patient Details</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>Patient Details</ion-title>
  </ion-toolbar>
  <ion-card>
    <ion-item-divider class="backgroundTransparent">Dr. Atul Ranade's Clinic</ion-item-divider>
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-row>
            <ion-col size="3" class="ion-text-center" style="align-self: center;">
              <img src="/assets/user.png" />
            </ion-col>
            <ion-col size="9">
              <ion-card-content>
                <p style="font-size: 20px; color: black; font-weight: 700;">Manish Padhnis</p>
                <p class="textColor"><ion-text>Age: </ion-text>32</p>
                <p class="textColor"><ion-text>Sex: </ion-text>Male</p>
                <p class="textColor"><ion-text>Mobile: </ion-text>9868454210</p>
                <p class="textColor"><ion-text>D.O.B.: </ion-text>14-10-2000</p>
              </ion-card-content>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <br>
  <div *ngIf="flag == 1">
    <ion-card>
      <ion-grid style="padding: 0">
        <ion-row>
          <ion-col size-sm="6" offset-sm="3" style="padding: 0">
            <ion-item-divider class="border1PX">Reports</ion-item-divider>
            <ion-list>
              <!-- <ion-item *ngFor="let r of reportsList"  (click)="onItemClick()" button detail>
                <ion-label>{{r}}</ion-label>
                <p>07-09-2019</p>
              </ion-item> -->
              <!-- <ion-item-sliding> -->
                <ion-item (click)="onItemClick()" button detail>
                  <ion-label>X-Ray Report</ion-label>
                  <p>07-09-2019</p>
                </ion-item>
                <ion-row *ngIf="showMenu == true">
                  <ion-col>
                    <ion-button expand="block" color="success" (click)="onView()">
                      <ion-icon name="eye"></ion-icon>
                    </ion-button>
                  </ion-col>
                  <ion-col>
                    <ion-button expand="block" color="primary" (click)="onShare()">
                      <ion-icon name="share"></ion-icon>
                    </ion-button>
                  </ion-col>
                  <ion-col>
                    <ion-button expand="block" color="danger" (click)="onDelete()">
                      <ion-icon name="trash"></ion-icon>
                    </ion-button>
                  </ion-col>
                </ion-row>
                <!-- <ion-item-options side="end">
                  <ion-item-option color="success" (click)="onView()"><ion-icon name="eye"></ion-icon></ion-item-option>
                  <ion-item-option color="primary" (click)="onShare()"><ion-icon name="share"></ion-icon></ion-item-option>
                  <ion-item-option color="danger"(click)="onDelete()"><ion-icon name="trash"></ion-icon></ion-item-option>
                </ion-item-options> -->
              <!-- </ion-item-sliding> -->
              <ion-item-sliding>
                <ion-item button detail>
                  <ion-label>Prescription Report</ion-label>
                  <p>07-09-2019</p>
                </ion-item>
                <ion-item-options side="end">
                  <ion-item-option color="success" (click)="onView()"><ion-icon name="eye"></ion-icon></ion-item-option>
                  <ion-item-option color="primary" (click)="onShare()"><ion-icon name="share"></ion-icon></ion-item-option>
                  <ion-item-option color="danger" (click)="onDelete()"><ion-icon name="trash"></ion-icon></ion-item-option>
                </ion-item-options>
              </ion-item-sliding>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </div>
  
  <div *ngIf="flag == 0" class="borderRadius8px">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-card class="cardstyle">
            <ion-row>
              <ion-col style="align-self: center;">
                <ion-label>Record Date:</ion-label>
              </ion-col>
              <ion-col>
                <ion-datetime display-format="DD-MM-YYYY" picker-format="DD-MM-YYYY" [(ngModel)]="recordDate" placeholder="DD-MM-YYYY"></ion-datetime>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col style="align-self: center;">
                <ion-label>Record Type:</ion-label>
              </ion-col>
              <ion-col>
                <ion-select [(ngModel)]="recordType" placeholder="Select Record Type">
                  <ion-select-option *ngFor="let t of type" [value]="t">{{ t }}</ion-select-option>
                </ion-select>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <img *ngIf="!base64Image" src="https://www.researchgate.net/profile/Mark_Donaldson/publication/299438066/figure/fig1/AS:579836906098688@1515255299891/THE-PERFECT-PRESCRIPTION-FOR-POSTOPERATIVE-DENTAL-PAIN.png" class="centered" />
                <img *ngIf="base64Image" [src]="base64Image" class="centered" />
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-button expand="block" fill="outline" color="danger" (click)="onCancel()">Cancel</ion-button>
              </ion-col>
              <ion-col>
                <ion-button expand="block" fill="solid" color="secondary" (click)="onSave()">Save</ion-button>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="flag == 1">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button>
        <ion-icon name="photos" color="primary" (click)="onGallerySelect()"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="camera" color="primary" (click)="onCameraSelect()"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>

<!-- <ion-footer *ngIf="flag == 1">
  <ion-button expand="block" color="secondary" (click)="onFabAddReport()">Add Report</ion-button>
</ion-footer> -->
