<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-back-button defaultHref="/" text="" style="color: white;"></ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-title>Edit Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-xl="6" offset-xl="3">
        <form #myaccountForm="ngForm" (ngSubmit)="onSubmit()" style="padding: 10px;">
          <ion-list>
            <ion-item lines="none">
              <ion-label position="floating" class="formLabel">Name</ion-label>
              <ion-input ngModel name="name" required></ion-input>
            </ion-item>
            <ion-item lines="none">
              <ion-label position="floating" class="formLabel">Phone</ion-label>
              <ion-input type="tel" ngModel name="phone" minlength="10" maxlength="10" required></ion-input>
            </ion-item>
            <ion-item lines="none">
              <ion-label position="floating" class="formLabel">Email</ion-label>
              <ion-input type="email" ngModel name="email"></ion-input>
            </ion-item>
            <ion-item lines="none">
              <ion-label position="floating" class="formLabel">Designation</ion-label>
              <ion-input type="email" ngModel name="desgination"></ion-input>
            </ion-item>
          </ion-list>
          <ion-button expand="block" shape="round" class="btnLogin" type="submit" [disabled]="!myaccountForm.valid">Update</ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
