// ion-content {
//   --background: rgb(36, 49, 80);
// }

// ion-input {
//   border: 1px solid rgb(36, 49, 80);
//   border-radius: 3px;
//   padding-left: 18px !important;
// }

// ion-datetime {
//   border: 1px solid rgb(36, 49, 80);
//   border-radius: 3px;
// }

// ion-select {
//   border: 1px solid rgb(36, 49, 80);
//   border-radius: 3px;
// }

// ion-card {
//   margin: 12px !important;
//   border-left: 3px solid rgb(0, 113, 128);
// }

.labelHeader {
  font-weight: bold;
  color: rgb(36, 49, 80)
}

