<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>Patient Form</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <form (ngSubmit)="onSubmit()" #patientForm="ngForm">
          <!-- <ion-card> -->
            <ion-list>
              <ion-item lines="none">
                <ion-label position="floating" class="labelHeader">First Name*</ion-label>
                <ion-input type="text" ngModel name="firstname" required></ion-input>
              </ion-item>
              <ion-item lines="none">
                <ion-label position="floating" class="labelHeader">Last Name*</ion-label>
                <ion-input type="text" ngModel name="lastname" required></ion-input>
              </ion-item>
              <ion-item lines="none">
                <ion-label position="floating" class="labelHeader">Mobile No.*</ion-label>
                <ion-input type="tel" ngModel name="mobileno" minlength="10" maxlength="10" required></ion-input>
              </ion-item>
              <ion-item lines="none">
                <ion-label position="floating" class="labelHeader">Date of Birth*</ion-label>
                <ion-datetime display-format="DD-MM-YYYY" picker-format="DD-MM-YYYY" ngModel name="dob" required></ion-datetime>
              </ion-item>
              <ion-item lines="none">
                <ion-label position="floating" class="labelHeader">E-mail</ion-label>
                <ion-input 
                  type="email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,8}$" 
                  ngModel name="email">
                </ion-input>
              </ion-item>
              <ion-item lines="none">
                <ion-label position="floating" class="labelHeader">Ref. Doctor*</ion-label>
                <ion-input type="text" ngModel name="refDoctor" required></ion-input>
              </ion-item>
              <ion-item lines="none">
                <ion-label position="floating" class="labelHeader">Location*</ion-label>
                <ion-input type="text" ngModel name="location" required></ion-input>
              </ion-item>
              <ion-item lines="none">
                <ion-label position="floating" class="labelHeader">City*</ion-label>
                <ion-select ngModel name="city" required>
                  <ion-select-option *ngFor="let city of cities" [value]="city">{{ city }}</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item lines="none">
                <ion-label position="floating" class="labelHeader">Sex*</ion-label>
                <ion-select ngModel name="sex" required>
                  <ion-select-option *ngFor="let g of genders" [value]="g">{{ g }}</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item lines="none">
                <ion-label position="floating" class="labelHeader">Surgery</ion-label>
                <ion-select ngModel name="surgery" required>
                  <ion-select-option *ngFor="let status of surgeryStatus" [value]="status">{{ status }}</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item lines="none">
                <ion-label position="floating" class="labelHeader">Problem Area</ion-label>
                <ion-select ngModel name="problems" multiple="true">
                  <ion-select-option *ngFor="let p of problems" [value]="p">{{ p }}</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>
            <ion-grid>
              <ion-row>
                <ion-col size="6">
                  <ion-button expand="block" fill="outline" color="danger" (click)="onCancel()">Cancel</ion-button>
                </ion-col>
                <ion-col size="6">
                  <ion-button expand="block" color="secondary" type="submit" [disabled]="!patientForm.valid">Save</ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          <!-- </ion-card> -->
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
