<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="setpadding">
  <ion-grid>
    <ion-row>
      <ion-col>
        <img
          src="/assets/DoctorLogo.jpg"
          height="200px"
          width="auto"
          class="center"
        />
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card class="cardSwitcher">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="4" offset-sm="4">
          <ion-row>
            <ion-col style="text-align: right; border-right: 1px solid" (click)="onSignIn()" class="ion-activatable">
              <ion-label style="padding-right: 5px;">Sign-In</ion-label>
              <ion-ripple-effect></ion-ripple-effect>
            </ion-col>
            <ion-col style="border-left: 1px solid" (click)="onSignUp()" class="ion-activatable">
              <ion-label style="padding-left: 5px;">Sign-Up</ion-label>
              <ion-ripple-effect></ion-ripple-effect>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card *ngIf="signIN == true">
    <ion-item-divider color="secondary">Login</ion-item-divider>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
      <ion-grid>
        <ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <ion-list>
              <div>
                <ion-row>
                  <ion-col>
                    <ion-label>Mobile No.</ion-label>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-input
                      placeholder="Enter Phone Number"
                      type="tel"
                      ngModel
                      name="loginPhone"
                      required
                      minlength="10"
                      maxlength="10"
                      #phoneCtrl="ngModel"
                    ></ion-input>
                  </ion-col>
                </ion-row>
              </div>
              <p *ngIf="!phoneCtrl.valid && phoneCtrl.touched" class="ion-text-right">
                Invalid Phone Number!
              </p>
              <div class="setLine"></div>
              <div>
                <ion-row>
                  <ion-col>
                    <ion-label>Password</ion-label>
                  </ion-col>
                  <ion-col size="10">
                    <ion-input
                      placeholder="Enter Password"
                      [type]="passwordType"
                      ngModel
                      name="loginPassword"
                      required
                      minlength="6"
                      maxlength="16"
                      clearOnEdit="false"
                      #passwordCtrl="ngModel"
                    ></ion-input>
                  </ion-col>
                  <ion-col size="2">
                    <div class="lefticon" (click)="togglePassword()">
                      <ion-icon
                        [name]="passwordIcon"
                        color="dark"
                        slot="icon-only"
                      ></ion-icon>
                    </div>
                  </ion-col>
                </ion-row>
              </div>
              <p *ngIf="!passwordCtrl.valid && passwordCtrl.touched" class="ion-text-right">
                Invalid Password!
              </p>
              <div class="setLine"></div>
            </ion-list>
          </ion-col>
        </ion-row>
        <!-- <ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <ion-row>
              <ion-col size="1">
                <ion-checkbox color="tertiary" class="setterms"></ion-checkbox>
              </ion-col>
              <ion-col no-padding>
                <p style="color: white" class="settext" (click)="ontandc()">
                  <u>Terms &amp; Condition</u>
                </p>
              </ion-col>
              <ion-col no-padding>
                <p style="color: white" class="ion-text-right">
                  <u>Privacy Policy</u>
                </p>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row> -->
        <ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <ion-button
              class="loginBtn"
              type="submit"
              expand="block"
              [disabled]="!loginForm.valid">
              Login
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-card>
  <!-- Card -->
  <ion-card *ngIf="signIN == false">
    <ion-item-divider color="secondary">Sign Up</ion-item-divider>
    <form #signupForm="ngForm">
      <ion-grid>
        <ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <ion-list>
              <div>
                <ion-row>
                  <ion-col>
                    <ion-label>Name</ion-label>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-input
                      placeholder="Enter Name"
                      type="text"
                      ngModel
                      name="signupName"
                      required
                      #nameCtrl="ngModel"
                    ></ion-input>
                  </ion-col>
                </ion-row>
              </div>
              <p *ngIf="!nameCtrl.valid && nameCtrl.touched" class="ion-text-right">
                Name field cannot be empty.
              </p>
              <div class="setLine"></div>
              <div>
                <ion-row>
                  <ion-col>
                    <ion-label>Mobile No.</ion-label>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-input
                      placeholder="Enter Phone Number"
                      type="tel"
                      ngModel
                      name="signupPhone"
                      required
                      minlength="10"
                      maxlength="10"
                      #phoneCtrl="ngModel"
                    ></ion-input>
                  </ion-col>
                </ion-row>
              </div>
              <p *ngIf="!phoneCtrl.valid && phoneCtrl.touched" class="ion-text-right">
                Invalid Phone Number!
              </p>
              <div class="setLine"></div>
              <div>
                <ion-row>
                  <ion-col>
                    <ion-label>Password</ion-label>
                  </ion-col>
                  <ion-col size="10">
                    <ion-input
                      placeholder="Enter Password"
                      [type]="passwordType"
                      ngModel
                      name="signupPassword"
                      required
                      minlength="6"
                      maxlength="16"
                      clearOnEdit="false"
                      #passwordCtrl="ngModel"
                    ></ion-input>
                  </ion-col>
                  <ion-col size="2">
                    <div class="lefticon" (click)="togglePassword()">
                      <ion-icon
                        [name]="passwordIcon"
                        color="dark"
                        slot="icon-only"
                      ></ion-icon>
                    </div>
                  </ion-col>
                </ion-row>
              </div>
              <p *ngIf="!passwordCtrl.valid && passwordCtrl.touched" class="ion-text-right">
                Invalid Password!
              </p>
              <div class="setLine"></div>
              <div>
                <ion-row>
                  <ion-col>
                    <ion-label>Confirm Password</ion-label>
                  </ion-col>
                  <ion-col size="10">
                    <ion-input
                      placeholder="Confirm Password"
                      [type]="passwordType"
                      ngModel
                      name="confirmPassword"
                      required
                      minlength="6"
                      maxlength="16"
                      clearOnEdit="false"
                      #passwordCtrl="ngModel"
                    ></ion-input>
                  </ion-col>
                  <ion-col size="2">
                    <div class="lefticon" (click)="togglePassword()">
                      <ion-icon
                        [name]="passwordIcon"
                        color="dark"
                        slot="icon-only"
                      ></ion-icon>
                    </div>
                  </ion-col>
                </ion-row>
              </div>
              <div class="setLine"></div>
            </ion-list>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <ion-button
              class="loginBtn"
              expand="block"
              (click)="onRegister()">
              Sign-Up
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-card>
</ion-content>
