.center {
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  height: auto;
}

ion-icon {
  height: 28px;
  width: 28px;
}

.lefticon {
  margin-top: 5px;
  margin-left: 8px;
}

p.ion-text-right {
  color: red;
  margin-bottom: 0px;
}

ion-card {
  background: aliceblue;
}

ion-list {
  background: transparent;
}

.setpadding {
  --padding-start: 0px !important;
  --padding-end: 0px !important;
  --padding-top: 0px !important;
  // background-image: url('../../assets/login_back.png') no-repeat 100% 100%;
  --background: url("../../assets/abstractBackdrop.jpg") 0 0/100% 100%
    no-repeat;
}

.setLine {
  border: 0.5px solid rgb(197, 227, 253);
  margin: 1px 0px 3px 0px;
}

.cardSwitcher {
  margin: 0px 100px 5px 100px;
  border-radius: 30px;
}

.ion-activatable {
  position: relative;
  overflow: hidden;
}
