<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-back-button defaultHref="/" text="" style="color: white;"></ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-xl="6" offset-xl="3">
        <form #changePassword="ngForm" (ngSubmit)="onSubmit()" style="padding: 10px;">
          <ion-grid>
            <ion-row>
              <ion-col size-xl="6" offset-xl="3">
                <ion-item lines="none">
                  <ion-label position="floating" class="formLabel">Old Password</ion-label>
                  <ion-input type="password" ngModel name="oldPassword" clearOnEdit = "false" required></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row><ion-col></ion-col></ion-row>
            <ion-row>
              <ion-col size-xl="6" offset-xl="3">
                <ion-item lines="none">
                  <ion-label position="floating" class="formLabel">New Password</ion-label>
                  <ion-input type="password" ngModel name="newPassword" clearOnEdit = "false" required></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size-xl="6" offset-xl="3">
                <ion-item lines="none">
                  <ion-label position="floating" class="formLabel">Confirm Password</ion-label>
                  <ion-input type="password" ngModel name="confirmPassword" clearOnEdit = "false" required></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size-xl="6" offset-xl="3">
                <ion-button expand="block" size="large" shape="round" class="btnSubmit" (click)="onSubmit()" [disabled]="!changepassForm.valid">Submit</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
