.container {
    position: relative;
    text-align: center;
    width: 100%;
    height: auto;
}

.profileImage {
    display: table-cell;
    vertical-align: middle;
    height: 160px;
    width: 160px;
    // border: 2px solid pink;
    margin-left: auto;
    margin-right: auto;
    padding: 3px;
}

ion-card {
    margin: 12px !important;
    border-left: 3px solid rgb(0, 113, 128);
}