<ion-app>
  <ion-menu side="start" menuId="m1" type="overlay">
    <ion-header>
      <ion-toolbar>
        <div class="divStyle">
          <ion-label (click)="onMenuClose()" style="padding: 5vw;">
            <img src="../assets/cross.png" />
          </ion-label>
        </div>
        <ion-title>User Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item lines="none" color="white">
            <div class="container">
              <!-- <img *ngIf="profile_photo" class="profileImage" src="{{ photo }}" height="200px" width="200px" /> -->
              <img class="profileImage" src="/assets/userIcon.png" />
            </div>
          </ion-item>
          <ion-item lines="none">
            <ion-label style="text-align: center;">Doctor's Name</ion-label>
          </ion-item>
          <ion-card>
            <ion-item lines="none" (click)="onMyPatient()" button detail>
              <ion-label style="color: darkcyan">My Patients</ion-label>
            </ion-item>
          </ion-card>
          <ion-card>
            <ion-item lines="none" (click)="onMyVideos()" button detail>
              <ion-label style="color: darkcyan">My Videos</ion-label>
            </ion-item>
          </ion-card>
          <!-- <ion-card>
            <ion-item lines="none" (click)="onMyAnalytics()" button detail>
              <ion-label style="color: darkcyan">My Analytics</ion-label>
            </ion-item>
          </ion-card> -->
          <ion-card>
            <ion-item lines="none" (click)="onMyAccount()" button detail>
              <ion-label style="color: darkcyan">My Account</ion-label>
            </ion-item>
          </ion-card>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
