.header-ios ion-toolbar:last-child {
  padding-top: 14px;
  --border-width: 0 !important;
}

.searchToolbar {
  --background: lightblue !important;
}

.setLinePx1{
  width:100%;
  border: 0.5px solid #d8d2d2;
}