.header-ios ion-toolbar:last-child {
  padding-top: 14px;
  --border-width: 0 !important;
}

.searchToolbar {
  --background: lightblue !important;
}

.setpadding {
  // --padding-start: 0px !important;
  // --padding-end: 0px !important;
  // --padding-top: 0px !important;
  --background: url("../../assets/backgroundMedical.jpg") 0 0/100% 100% no-repeat;
}

ion-card {
  margin: 12px !important;
  border-left: 3px solid rgb(0, 113, 128);
}

ion-card-content {
  padding: 5px 5px 5px 5px !important;
}

// h2{
//   font-weight: bold;
// }

img {
  width: 100%;
  height: auto;
}

.paddingZero {
  padding: 0px 0px 0px 5px;
}
