<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title>Dr. Name</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onMapClick($event)">
        <ion-label *ngIf="dataReturned != null">{{dataReturned}}</ion-label>
        <ion-icon name="pin" slot="start"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="searchToolbar">
    <ion-searchbar animated="true" placeholder="Search Customer Mobile No." inputmode="tel" debounce="1000" ngModel name="searchInput" (ionChange)="onSearchChange($event)" (ionCancel)="onCancelSearchbar()"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="setpadding">
  <ion-card (click)="onPatientCard()">
    <ion-card-content>
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <ion-row>
              <ion-col size="3" class="ion-text-center" style="align-self: center;">
                <img src="/assets/user.png" />
              </ion-col>
              <ion-col size="9">
                <ion-label>
                  <ion-row>
                    <ion-col size="7">
                      <h3 style="color: black; font-weight: 700;">Manish Padhnis</h3>
                    </ion-col>
                    <ion-col>
                      <h3 class="ion-text-end" style="color: darkgray; font-weight: 700;">Male, 32</h3>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col class="paddingZero"><h3 style="color: black">Ref. Doc:</h3></ion-col>
                    <ion-col class="paddingZero"><h3>Dr. Kalpana Shah</h3></ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col class="paddingZero"><h3 style="color: black">Surgery Status:</h3></ion-col>
                    <ion-col class="paddingZero"><h3>Done, THR</h3></ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col class="paddingZero"><h3 style="color: black">Location:</h3></ion-col>
                    <ion-col class="paddingZero"><h3>Dombivali</h3></ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col class="paddingZero"><h3 style="color: black">Last Visited:</h3></ion-col>
                    <ion-col class="paddingZero"><h3>07-09-2019</h3></ion-col>
                  </ion-row>
                </ion-label>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-card (click)="onPatientCard()">
    <ion-card-content>
      <ion-grid no-padding>
        <ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <ion-row>
              <ion-col size="3" class="ion-text-center" style="align-self: center;">
                <img src="/assets/user.png" />
              </ion-col>
              <ion-col size="9">
                <ion-label>
                  <ion-row>
                    <ion-col size="7">
                      <h3 style="color: black; font-weight: 700;">Manish Padhnis</h3>
                    </ion-col>
                    <ion-col>
                      <h3 class="ion-text-end" style="color: darkgray; font-weight: 700;">Male, 32</h3>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col class="paddingZero"><h3 style="color: black">Ref. Doc:</h3></ion-col>
                    <ion-col class="paddingZero"><h3>Dr. Kalpana Shah</h3></ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col class="paddingZero"><h3 style="color: black">Surgery Status:</h3></ion-col>
                    <ion-col class="paddingZero"><h3>Done, THR</h3></ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col class="paddingZero"><h3 style="color: black">Location:</h3></ion-col>
                    <ion-col class="paddingZero"><h3>Dombivali</h3></ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col class="paddingZero"><h3 style="color: black">Last Visited:</h3></ion-col>
                    <ion-col class="paddingZero"><h3>07-09-2019</h3></ion-col>
                  </ion-row>
                </ion-label>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-card (click)="onPatientCard()">
    <ion-card-content>
      <ion-grid no-padding>
        <ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <ion-row>
              <ion-col size="3" class="ion-text-center" style="align-self: center;">
                <img src="/assets/user.png" />
              </ion-col>
              <ion-col size="9">
                <ion-label>
                  <ion-row>
                    <ion-col size="7">
                      <h3 style="color: black; font-weight: 700;">Manish Padhnis</h3>
                    </ion-col>
                    <ion-col>
                      <h3 class="ion-text-end" style="color: darkgray; font-weight: 700;">Male, 32</h3>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col class="paddingZero"><h3 style="color: black">Ref. Doc:</h3></ion-col>
                    <ion-col class="paddingZero"><h3>Dr. Kalpana Shah</h3></ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col class="paddingZero"><h3 style="color: black">Surgery Status:</h3></ion-col>
                    <ion-col class="paddingZero"><h3>Done, THR</h3></ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col class="paddingZero"><h3 style="color: black">Location:</h3></ion-col>
                    <ion-col class="paddingZero"><h3>Dombivali</h3></ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col class="paddingZero"><h3 style="color: black">Last Visited:</h3></ion-col>
                    <ion-col class="paddingZero"><h3>07-09-2019</h3></ion-col>
                  </ion-row>
                </ion-label>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-grid no-padding>
        <ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <ion-row>
              <ion-col size="3" class="ion-text-center" style="align-self: center;">
                <img src="/assets/user.png" />
              </ion-col>
              <ion-col size="9">
                <ion-label>
                  <ion-row>
                    <ion-col size="7">
                      <h3 style="color: black; font-weight: 700;">Manish Padhnis</h3>
                    </ion-col>
                    <ion-col>
                      <h3 class="ion-text-end" style="color: darkgray; font-weight: 700;">Male, 32</h3>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col class="paddingZero"><h3 style="color: black">Ref. Doc:</h3></ion-col>
                    <ion-col class="paddingZero"><h3>Dr. Kalpana Shah</h3></ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col class="paddingZero"><h3 style="color: black">Surgery Status:</h3></ion-col>
                    <ion-col class="paddingZero"><h3>Done, THR</h3></ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col class="paddingZero"><h3 style="color: black">Location:</h3></ion-col>
                    <ion-col class="paddingZero"><h3>Dombivali</h3></ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col class="paddingZero"><h3 style="color: black">Last Visited:</h3></ion-col>
                    <ion-col class="paddingZero"><h3>07-09-2019</h3></ion-col>
                  </ion-row>
                </ion-label>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="onFabAdd()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
