<!-- <ion-header>
  <ion-toolbar>
    <ion-title>popover-map-location</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-list>
    <ion-item-divider color="secondary">
      <ion-label>Choose your Location...</ion-label>
    </ion-item-divider>
    <ion-item (click)="onLocationSelect(1)">
      <ion-label>Mulund</ion-label>
    </ion-item>
    <ion-item (click)="onLocationSelect(2)">
      <ion-label>Sion</ion-label>
    </ion-item>
    <ion-item (click)="onLocationSelect(3)">
      <ion-label>Wockhard, Vashi</ion-label>
    </ion-item>
    <div style="text-align: center;">
      <ion-button fill="outline" expand="block">
        <ion-icon name="add" slot="start"></ion-icon>
        New Clinic
      </ion-button>
    </div>
  </ion-list>
</ion-content>
