<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Report Uploaded on 07-09-2019</ion-title>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon name="close-circle-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div style="text-align: center;">
    <ion-label class="ion-padding" style="font-size: 16px;">Report Uploaded on 07-09-2019</ion-label>
    <ion-icon class="iconSize" name="close-circle-outline" slot="end" (click)="onPopoverClose()"></ion-icon>
  </div>
  <img [src]="imgURL" height="300px" width="350px" />
  <ion-label class="ion-padding">Doctor Notes:</ion-label>
  <ul>
    <li>Greatly hearted</li>
    <li>Drift allow</li>
    <li>through the drawing</li>
  </ul>
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-button expand="block" fill="outline" color="success" (click)="onShare()">
          <ion-icon class="marginBottom" name="share" slot="start"></ion-icon>
          Share
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="block" fill="outline" color="danger" (click)="onDelete()">
          <ion-icon class="marginBottom" name="trash" slot="start"></ion-icon>
          Delete
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
