ion-card {
  --background: url("../../assets/gradientBackdrop.jpg") 0 0/100% 100% no-repeat;
}

ion-card {
  margin: 12px !important;
}

.container {
  // height: 256px;
  // width: auto;
  position: relative;
  text-align: center;
}

.centered {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
  text-align: right;
  font-size: xx-large;
}

p {
    color: white;
}

ion-item {
  margin: 10px !important;
  border: 3px solid rgb(0, 113, 128);
  border-radius: 5px;
}
