<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title>Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-card>
          <ion-card-content class="container">
            <img src="/assets/userIcon.png" style="width:120px;height:120px;" class="centered" />
            <ion-label class="top-right" color="light" (click)="onLogout()">
              <ion-icon name="exit" slot="icon-only"></ion-icon>
            </ion-label>
            <ion-label class="centered">
              <p style="font-size: 20px; font-weight: 600;">Dr. Kalpana Shah</p>
              <p>M.B.B.S.</p>
              <p>Clinic Name</p>
              <p>Location</p>
            </ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-ms="6" offset-sm="3">
        <ion-item lines="none" button detail (click)="onEditProfile()">
          <ion-label>Edit Profile</ion-label>
        </ion-item>
        <ion-item lines="none" button detail (click)="onChangePassword()">
          <ion-label>Change Password</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col></ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-item lines="none" button detail>
            <ion-label>Patient List</ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row> -->
  </ion-grid>
</ion-content>
